body {
    font-family: "Poppins", sans-serif;
}
header {
    background: #2D25A0;
}
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.navbar {
    display: flex;
    margin-top: 27px;
    
}
ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    margin: 0 .75rem;
    color: white;
}
.login {
    display: flex;
    background-color: #E02C6D;
    padding: 7px 0;
}
.banner {
    display: flex;
    justify-content: space-between;
    max-width: 974px;
    margin: 0 auto;
}
.banner h1 {
    font-size: 52px;
    font-weight: bold;
    color: white;
}
.banner img {
    height: 450px;
}
.banner button {
    padding: 10px 15px;
    font-weight: 500;
    background-color: #E02C6D;
    color: white;
    border: none;
}
.card-section {
    max-width: 1020px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.card-container {
    height: 390px;
    width: 240px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}
.card-container h2 {
     font-weight: bold;
}
.card-container p {
    font-size: 1rem;
    color: #6C6C6C;
}
.card-container img{
    height: 53%;
}
